{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
{%set fnmae ='img/' + post.img_file%}
<header class="masthead" style="background-image: url('/static/assets/img/{{post.img_file}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{post.title}}</h1>
                    <h2 class="subheading">{{post.tagline}} </h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Start Admin</a>
                        on {{post.date}}
                       
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{post.content}}
            </div>
            <p> <b>Featured articles are considered to be some of the best articles Wikipedia</b> has to offer, as
                determined by Wikipedia's editors. They are used by editors as examples for writing other
                articles. Before being listed here, articles are reviewed as featured article candidates for
                accuracy, neutrality, completeness, and style according to our featured article criteria.
                Many featured articles were previously good articles (which are reviewed with a less
                restrictive set of criteria). There are 6,283 featured articles out of 6,675,470 articles on
                the English Wikipedia (about 0.09% or one out of every 1,060 articles). Articles that no
                longer meet the criteria can be proposed for improvement or removal at featured article
                review.

                On non-mobile versions of our website, a small bronze star icon (This star symbolizes the
                featured content on Wikipedia.) on the top right corner of an article's page indicates that
                the article is featured. On most smartphones and tablets you can also select "Desktop" at
                the very bottom of the page or "Request Desktop Site" in your browser's menu to see this
                line (do a search to find out how). Additionally, if the current article is featured in
                another language, a star will appear next to the corresponding entry in the language
                switcher to let you know.</p>
        </div>
    </div>
</article>
{% endblock %}