{% extends "layout.html" %}
{% block body %}


<style>
    
    .card-registration .select-input.form-control {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}
</style>
<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black" >
                  <h3 class="mb-5 text-uppercase"> Registration form</h3>
                <form name="sentMessage" action="/ragistation" method="post" >
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          <label class="form-label"  for="form3Example8">Username</label>
                        <input type="text" id="form3Example1m" name="Username"  placeholder="Create user name" class="form-control form-control-lg" />
                      </div>
                    </div>

                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          <label class="form-label" for="form3Example1m1">Mothername</label>
                        <input type="text" id="form3Example1m1" name="Mothername" placeholder="Enter mother name"  class="form-control form-control-lg" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          <label class="form-label"  for="form3Example1n1">Fathername</label>
                        <input type="text" id="form3Example1n1" name="Fathername" placeholder="Enter father name" class="form-control form-control-lg" />
                      </div>
                    </div>
                  </div>
  
                  <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example8">Address</label>
                    <input type="text" id="form3Example8" placeholder="Enter currect address" name="Address" class="form-control form-control-lg" />
                  </div>
  
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <h6 class="mb-0 me-4">Gender  </h6>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio"  name="Gender" id="femaleGender"
                        value="Female" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="Gender" id="maleGender"
                        value="Male" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="Gender" id="otherGender"
                        value="Other" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
  
                  </div>
  
                  <div class="form-outline mb-4">
                      <label class="form-label"  for="date">DOB</label>
                    <input type="date" id="form3Example9" name="DOB" class="form-control form-control-lg" />
                  </div>
  
                  <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example90">Pincode</label>
                    <input type="text" id="form3Example90" placeholder="Enter currect value" name="Pincode" class="form-control form-control-lg" />
                  </div>

  
                  <div class="form-outline mb-4">
                      <label class="form-label" for="email">EmailID</label>
                    <input type="email" id="email" name="EmailID" placeholder="Enter valid email id" class="form-control form-control-lg" />
                  </div>
  
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-light btn-lg">Reset all</button>
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                 
                   
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
        {% endblock %}